DEBUG=False
SECRET_KEY=defina sua chave secreta
DATABASE_URL=postgres://postgres:postgres@localhost/testdb

# CONFIGURAÇOES DO AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
INTERNAL_IPS=127.0.0.1
SENTRY_DSN=

# configurações de envio de email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True