{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Pagina com video demonstrativo, aproveite!{% endblock description %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ aula.titulo |default:"Faltando Titulo" }}</h1>
            <div class="embed-container mb-3">
                <iframe src="https://player.vimeo.com/video/{{ aula.vimeo_id }}"
                        width="1272" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen title="Inicial"></iframe>
            </div>

        </div>
    </div>

</div>
{% endblock body %}

