<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <H3>Entre em contato</H3>
                <address>
                    +55 (47) 99187-2633
                    <br/>
                    <a href="mailto:{{contato_email}}">{{contato_email}}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4 ">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>