{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python com Gustavo Guesser
                </h2>
                <h3>Garanta sua vaga:</h3>
                <!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7XmeX3_r6/button" target="_blank"
                                                     title="Pagar com PagSeguro"><img
                    src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar-preto.gif"
                    alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a><!-- FIM DO BOTAO PAGSEGURO -->

                <h4> Saiba mais:</h4>
                <form action="https://gmail.us6.list-manage.com/subscribe/post?u=fb870289726b3278f1abbe772&amp;id=02e7db4ee5"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center-" target="_blank" novalidate>
                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-EMAIL">Email</label>
                        <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                               placeholder="exemplo@email.com">
                    </div>

                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-FNAME">Email</label>
                        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                               placeholder="Seu nome">
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                              name="b_fb870289726b3278f1abbe772_02e7db4ee5"
                                                                                              tabindex="-1"
                                                                                              value=""></div>
                    <div class="col-auto">
                        <input type="submit" value="Enviarr" name="subscribe"
                               id="mc-embedded-subscribe" class="btn btn-primary">
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-info">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano ramalho"
                             class="img-thumbnail float-start me-2"/>
                        Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora
                        torquent. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Sapien in monti
                        palavris qui num significa nadis i pareci latim. Quem num gosta di mé, boa gentis num é.

                        A ordem dos tratores não altera o pão duris. Casamentiss faiz malandris se pirulitá. Manduma
                        pindureta quium dia nois paga. Diuretics paradis num copo é motivis de denguis.
                        <a href="https://www.youtube.com/watch?v=d3c_KHV64Dg" target="_blank">É o fluxo </a>


                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}