{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Python Pro</title>

    <meta name="description" content="Pagina do cruso Python Pro">
    <meta name="author" content="Gustavo Guesser">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'base:home' %}">Python Pro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python com Gustavo Guesser
                </h2>
                <h4> Entre na fila de espera:</h4>
                <form action="https://gmail.us6.list-manage.com/subscribe/post?u=fb870289726b3278f1abbe772&amp;id=02e7db4ee5"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center-" target="_blank" novalidate>
                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-EMAIL">Email</label>
                        <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                               placeholder="exemplo@email.com">
                    </div>

                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-FNAME">Email</label>
                        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                               placeholder="Seu nome">
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                              name="b_fb870289726b3278f1abbe772_02e7db4ee5"
                                                                                              tabindex="-1"
                                                                                              value=""></div>
                    <div class="col-auto">
                        <input type="submit" value="Salvar" name="subscribe"
                               id="mc-embedded-subscribe" class="btn btn-primary">
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-info">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano ramalho"
                             class="img-thumbnail float-start me-2"/>
                        Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora
                        torquent. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Sapien in monti
                        palavris qui num significa nadis i pareci latim. Quem num gosta di mé, boa gentis num é.

                        A ordem dos tratores não altera o pão duris. Casamentiss faiz malandris se pirulitá. Manduma
                        pindureta quium dia nois paga. Diuretics paradis num copo é motivis de denguis.
                        <a href="https://www.youtube.com/watch?v=d3c_KHV64Dg" target="_blank">É o fluxo </a>


                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <H3>Entre em contato</H3>
                <address>
                    +55 99187-2633
                    <br/>
                    <a href="mailto:gustavoguesser@gmail.com">gustavoguesser@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4 ">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>